.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 24px;
    border-bottom: 1px solid rgba(0, 65, 102, 0.2);;
    .left{
        display: flex;
        align-items: flex-end;
        .pageHeader{
            display: flex;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            color: #002033;
            .headerSecond{
                margin-left: 4px;
            }
        }
        .nav{
            margin-left: 36px;
            font-family: 'Segoe UI';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            display: flex;
            align-items: center;
            color: #002033;
            .nav__active{
                box-sizing: border-box;
                // border-bottom: 2px solid #0078D2;
                // padding-bottom: 18px;
                // margin-top: 18px;
            }
            a:first-child{
                margin-right: 32px;
            }
        }
    }
    .right{
        display: flex;
        align-items: center;
        .iconsContainer{
            display: flex;
            align-items: center;
            margin-right: 16px;
            .iconBtn{
                // width: 32px;
                // height: 32px;
                background-color: #fff;
                img{
                    padding: 5px;
                }
            }
            .iconBtn:not(:last-child){
                margin-right: 8px;
            }
        }
        .user{
            display: flex;
            align-items: center;
            .userAvatar{
                margin-right: 12px;
                border-radius: 50%;
            }
            .userName{
                font-family: 'Segoe UI';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 100%;
                display: flex;
                align-items: center;
                color: #002033;
            }
        }
    }
}

@media(max-width:917px){
    .header{
        align-items: flex-start;
        .right{
            .user{
                .userName{
                    display: none;
                }
            }
        }
    }
}

@media(max-width:717px){
    .header{
        .left{
            .pageHeader{
                font-size: 14px;
            }
        }
    }
}

@media(max-width:650px){
    .header{
        padding: 10px;
        align-items: center;
        .left{
            .pageHeader{
                display: none;
            }
            .nav{
                margin-left: 0;
                margin-bottom: 5px;
            }
        }
    }
}


@media(max-width:370px){
    .header{
        padding: 3px;
        .left{
            .nav{
                a:first-child{
                    margin-right: 8px;
                }
            }
        }
    }
}